Repository timvideos/litex-buildenv, pull requests merged in 2018-09, with the labels that each got.

#48 scripts: Support RISC-V CPU architecture.
  Makefile
  firmware/asm.h
  scripts/build-linux.sh
  scripts/build-micropython.sh
  scripts/download-env.sh
  scripts/enter-env.sh
Labels: firmware-softcpu, level-firmware, level-infrastructure

#57 qemu: Fix spiflash args as per deprecated args
  scripts/build-qemu.sh
Labels: level-infrastructure

#54 targets: Updating for liteDRAM changes.
  targets/arty/ddr3.py
  targets/atlys/hdmi2usb.py
  targets/atlys/video.py
  targets/mimasv2/memtest.py
  targets/netv2/video.py
  targets/nexys_video/ddr3.py
  targets/nexys_video/video.py
  targets/opsis/memtest.py
  targets/opsis/video.py
  targets/opsis/video_out_debug.py
  targets/sim/memtest.py
Labels: board-arty, board-atlys, board-mimasv2, board-netv2, board-opsis, board-sim, boards-artix7, boards-spartan6, hdmi2usb

#55 Add TinyFPGA BX Platform
  .travis.yml
  .travis/build.sh
  .travis/download-xilinx.sh
  firmware/Makefile
  firmware/linker-flash.ld
  firmware/pattern.c
  firmware/stub/Makefile
  firmware/stub/isr.c
  firmware/stub/linker.ld
  firmware/stub/main.c
  make.py
  platforms/tinyfpga_bx.py
  scripts/download-env.sh
  scripts/enter-env.sh
  targets/tinyfpga_bx/Makefile.mk
  targets/tinyfpga_bx/base.py
Labels: firmware-softcpu, hdmi2***, level-firmware, level-infrastructure

#64 readme: Fix broken link
  README.md
Labels: level-docs

#65 scripts: Adding tinyfpga programmers.
  scripts/download-env.sh
  scripts/enter-env.sh
Labels: level-infrastructure

#72 scripts: Improve download-prebuilt script.
  scripts/download-prebuilt.sh
Labels: level-infrastructure

#69 scripts: Move the GCC toolchain to 8.2.0
  .travis.yml
  .travis/build.sh
  .travis/run.inc.sh
  .travis/setup.sh
  Makefile
  firmware/Makefile
  firmware/stub/Makefile
  scripts/build-linux.sh
  scripts/download-env.sh
  scripts/enter-env.sh
  scripts/settings.sh
  targets/arty/net.py
  targets/atlys/net.py
  targets/nexys_video/net.py
  targets/opsis/base.py
  targets/opsis/net.py
  targets/sim/net.py
Labels: board-arty, board-atlys, board-opsis, board-sim, boards-artix7, boards-spartan6, firmware-softcpu, hdmi2***, hdmi2ethernet, level-firmware, level-infrastructure
