Repository timvideos/litex-buildenv, pull requests merged in 2018-08, with the labels that each got.

#37 scripts/build-micropython.sh: New MicroPython directory layout
  scripts/build-micropython.sh
Labels: level-infrastructure

#39 Small fixes
  firmware/ci.c
  firmware/pll.c
  platforms/arty.py
  platforms/atlys.py
  platforms/waxwing.py
  scripts/download-env.sh
  scripts/enter-env.sh
Labels: board-arty, board-atlys, board-waxwing, boards-artix7, boards-spartan6, firmware-softcpu, level-firmware, level-infrastructure

#40 Add CAS support for simple Leds 1-4
  targets/arty/base.py
Labels: board-arty, boards-artix7, hdmi2***
