Repository timvideos/litex-buildenv, pull requests merged in 2020-01, with the labels that each got.

#238 Add NeTV2 support and HDMI2PCIe
  .travis.yml
  firmware/Makefile
  firmware/ci.c
  firmware/framebuffer.h
  firmware/pcie.c
  firmware/pcie.h
  firmware/processor.c
  firmware/processor.h
  firmware/reboot.c
  make.py
  platforms/netv2.py
  software/hdmi2pcie/kernel/Makefile
  software/hdmi2pcie/kernel/README
  software/hdmi2pcie/kernel/main.c
  targets/netv2/Makefile.mk
  targets/netv2/base.py
  targets/netv2/hdmi2pcie.py
  targets/netv2/net.py
Labels: board-netv2, boards-artix7, firmware-softcpu, hdmi2***, hdmi2ethernet, level-firmware, level-infrastructure, level-software

#222 Add generation of overlay for dts in Zephyr
  scripts/build-zephyr.sh
Labels: level-infrastructure

#297 Linux on Spartan6
  platforms/waxwing.py
  targets/waxwing/net.py
Labels: board-waxwing, boards-spartan6, hdmi2ethernet
